In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv(r"C:\Users\emilb\OneDrive\Desktop\ASSIGNMENT\car_age_price.csv")

In [3]:
df

     Year   Price
0    2018  465000
1    2019  755000
2    2019  700000
3    2018  465000
4    2018  465000
..    ...     ...
107  2016  375000
108  2014  300000
109  2015  425000
110  2016  420000
111  2015  425000

[112 rows x 2 columns]

In [4]:
df.shape

(112, 2)

In [5]:
df.describe()

              Year          Price
count   112.000000     112.000000
mean   2016.669643  483866.044643
std       1.629616   91217.450533
min    2013.000000  300000.000000
25%    2015.000000  423750.000000
50%    2017.000000  500000.000000
75%    2017.000000  550000.000000
max    2020.000000  755000.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    112 non-null    int64
 1   Price   112 non-null    int64
dtypes: int64(2)
memory usage: 1.9 KB

In [7]:
x=df[["Year"]]

In [8]:
x

     Year
0    2018
1    2019
2    2019
3    2018
4    2018
..    ...
107  2016
108  2014
109  2015
110  2016
111  2015

[112 rows x 1 columns]

In [9]:
y=df[["Price"]]

In [10]:
y

      Price
0    465000
1    755000
2    700000
3    465000
4    465000
..      ...
107  375000
108  300000
109  425000
110  420000
111  425000

[112 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.25,random_state=42)

# Linear Regression

In [12]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred_lin=lr.predict(x_test)

In [13]:
from sklearn.metrics import mean_squared_error,r2_score
print(f'mse_lin:{mean_squared_error(y_test,y_pred_lin)}')
print(f'r^2_lin:{r2_score(y_test,y_pred_lin)}')

mse_lin:3878767151.073449
r^2_lin:0.4347961632108023

# Lasso Regression

In [14]:
from sklearn.linear_model import Lasso
lasso=Lasso(alpha=1,max_iter=100,tol=0.1)
lasso.fit(x_train,y_train)

Lasso(alpha=1, max_iter=100, tol=0.1)

In [15]:
y_predict=lasso.predict(x_test)

In [16]:
from sklearn.metrics import mean_squared_error,r2_score
print(f'mse_lasso:{mean_squared_error(y_test,y_predict)}')
print(f'r^2_lasso:{r2_score(y_test,y_predict)}')

mse_lasso:3878735896.222091
r^2_lasso:0.4348007175862566

# price of 2022 model

In [17]:
price_2022_lin=lr.predict([[2022]])
print(f"Predicted price of 2022 model(linear regression):{price_2022_lin}")

Predicted price of 2022 model(linear regression):[[740160.11937766]]

C:\Users\emilb\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [18]:
price_2022_lasso=lasso.predict([[2022]])
print(f"Predicted price of 2022 model(lasso regression):{price_2022_lasso}")

Predicted price of 2022 model(lasso regression):[740157.95700142]

C:\Users\emilb\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but Lasso was fitted with feature names
  warnings.warn(

# Compare the Models

In [19]:
mse_lin=mean_squared_error(y_test,y_pred_lin)
mse_lasso=mean_squared_error(y_test,y_predict)
print(f'Linear Regression MSE: {mse_lin}')
print(f'Lasso Regression MSE: {mse_lasso}')

Linear Regression MSE: 3878767151.073449
Lasso Regression MSE: 3878735896.222091

In [20]:
if mse_lin < mse_lasso:
    print('Linear Regression performs better.')
else:
    print('Lasso Regression performs better.')

Lasso Regression performs better.